.layout {
  padding: 1rem 9rem 1rem 9rem;
  &.profile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}

.qoute-container {
  display: flex;
  justify-content: space-around;
}
.qoute {
max-width: 600px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  padding: 15px;
}

.profile-avatar {
  text-align: center;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.basic-info-block {
  max-width: 600px;

  padding: 15px;
  font-size: 16px;
}

.role {
  font-size: 18px;
  font-weight: bold;
}

.company {
  font-size: 14px;
  font-style: italic;
}

.skill-group {
  margin-top: 24px;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.language-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.language-level {
  font-size: 24px;
  margin-top: 5px;
}

.skill {
  text-align: center;
}

.skill-img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #1d2951;
  img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
  }
}

.language-img {
  img {
    height: 60px;
    width: 100px;
  }
}


.contact-item {
  display: flex;
  padding-top: 15px;
}
.contact-icon {
  img {
    width: 30px;
    height: 30px;
  }
}

.contact-value {
  margin-left: 10px;
}
.title {
  text-align: center;
  color: white;
  font-weight: bold;
  animation: fadein 4s;
  height: 100vh;
  font-size: 40px;
  margin-top: 200px;
  &.bigger {
    font-size: 56px;
    animation: fadein 8s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #f9f9f9;

  a {
    color: #376dbe;
  }
}

.parallax-name {
  background: url('../../assets/image/galaxy2-resize.jpg') no-repeat center
    center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  overflow: hidden;
}

.parallax-experience {
  background: url('../../assets/image/galaxy3.jpg') no-repeat center center
    fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  overflow: hidden;
}

.parallax-skill {
  background: url('../../assets/image/galaxy4.jpg') no-repeat center center
    fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  overflow: hidden;
}

.parallax-contact {
  background: url('../../assets/image/galaxy.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  overflow: hidden;
}
