<div>Nichanan Poovanarote</div>
<div><img src={{img}}></div>
<div>
  <div>Nationality : Thai</div>
  <div> Date of Birth : 7 Nov 1993</div>
</div>
<div>3-year experience in web development, a very hard-working person and highly dedicated to work. love to code with javascript, familiar with Agile methodology </div>
<div>
  <div>Education</div>
  <div>- Kasetseat University, Bangkok  Bachelor Degree in Computer Science | 2015</div>
  <div>- Nakhonsawan School, Nakhonsawan  Math-Sci | 2011</div>
</div>
