<div class="name-block">
  <div class="firstname"><img src="{{ firstnameImg }}" /></div>
  <div class="lastname"><img src="{{ lastnameImg }}" /></div>
</div>
<div class="first-block">
  <div class="avatar"><img src="{{ profileImg }}" /></div>
  <div class="qoute">
    "3-years experience in web development, a very hard-working person and
    highly dedicated to work. love to code with javascript, familiar with Agile
    and Lean methodology"
  </div>
</div>
<div class="second-block">
  <div class="basic-info">
    <div>Nationality : Thai</div>
    <div>Date of Birth : 7 Nov 1993</div>
  </div>
  <div class="education">
    <div>Education</div>
    <div>
      - Kasetseat University, Bangkok  Bachelor Degree in Computer Science |
      2015
    </div>
    <div>- Nakhonsawan School, Nakhonsawan  Math-Sci | 2011</div>
  </div>
</div>
